@import url("https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #393e46;
  color: hsla(60, 8%, 82%, 0.89);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(#4568dc , #b06ab3);
}

.stopwatch {
  font-size: 12rem;
  font-family: "Cutive Mono", monospace;
  font-weight: 900;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 10px 0;
}

.controls {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.attribution {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  bottom: 0;
  font-size: 0.65rem;
  line-height: 1;
  text-align: center;
  color: hsla(0, 0%, 100%, 0.6);
  margin-bottom: 20px;
  font-weight: bold;
}

.attribution a {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.75);
  font-weight: bold;
}

.attribution a:hover {
  color: hsl(180, 1%, 27%);
}

